# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform workspace files
.terraform/
terraform/.terraform

# Ignore crash log files
crash.log

# Ignore .terraform directories
.terraform/*
